* { 
	vertical-align: top; 
}

body { 
	font-family:times;
	font-size:0px;
	margin:0;
	padding:0;
}


.wrapper{
	width:960px;
	margin:0 auto;
}

p{
	font-size:30px;
	font-family: times;
	font-weight: normal;
}


.overlay {
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: yellow;
	display: none;
}

h1 {
	font-size:50px;
	font-family: times;
	font-weight: normal;
	text-align: right;
}

.eggs:visited {
	color: gold;
} 

.eggs:hover {
	color: gold;
} 
.turkey:hover {
	color: lavenderblush;
}
.bss:hover {
	color: darksalmon;
} 
.lettuce:hover {
	color: palegreen;
} 
.tomato:hover {
	color: orangered;
} 
.sourdough:hover {
	color: peru;
}
.cjs:hover {
	color: olivedrab;
}
.cms:hover {
	color: wheat;
}
.bpc:hover {
	color: yellowgreen;
} 
.coconut:hover {
	color: whitesmoke;
} 
.potatoes:hover {
	color: oldlace;
} 
.chives:hover {
	color: forestgreen;
} 
.eb:hover {
	color: lemonchiffon;
} 
.cns:hover {
	color: yellow;
} 
.steak:hover {
	color: firebrick;
} 
.lp:hover {
	color: saddlebrown;
} 
.salt:hover {
	color: seashell;
}
.ms:hover {
	color: darkgreen;
}
.raisins:hover {
	color: indigo;
}
.pb:hover {
	color: burlywood;
}
.br:hover {
	color: papayawhip;
}
.mustard:hover {
	color: goldenrod;
}

/*My Links*/

/*a:visited {color: red;}*/
/*a:hover{color: yellow;}*/
/*a:active{color: purple;}*/


.c{
	/*background:yellow;*/
	font-size:16px;
	line-height: 20px;
	margin:0 15px 30px 15px;
	display:inline-block;
}

.c1{ width:130px;}
.c2{ width:290px;}
.c3{ width:450px;}
.c4{ width:610px;}
.c5{ width:770px;}
.c6{ width:930px;}





