html, body {
  background-color: black;
  height: 100%;
}

.all-letters {
  display: none;
}

.letter {
  font-size: 0;
  width: 100px;
  height: 160px;
  display: inline-block;
  margin: 8px;
  /*background-color: yellow;*/
}

.pixel {
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  display: inline-block;
}

.space {
  font-size: 0;
  width: 100px;
  height: 160px;
  display: inline-block;
  margin: 1px;
}

.on {
  background-color: black;
  border: 2px solid black;
}

@keyframes letterdrop {
  from { top: 800px; }
  to { top:0;}
}

.letter-a .on {
  border: 2px solid black;
  background: #66ffff;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
  top: 0;
}

.letter-b .on {
  border: 2px solid black;
  background: #00ff00;
  animation: letterdrop 2s ease-in forwards;
  top: 0;
  z-index: 10;
  position: relative;
}

.letter-c .on {
  border: 2px solid black;
  background: #ffff00;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-d .on {
  border: 2px solid black;
  background: #9900ff;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-e .on {
  border: 2px solid black;
  background: #cc33ff;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-f .on {
  border: 2px solid black;
  background: #ff0066;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-g .on {
  border: 2px solid black;
  background: #ff0000;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-h .on {
  border: 2px solid black;
  background: #0000ff;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-i .on {
  border: 2px solid black;
  background: #99ccff;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-j .on {
  border: 2px solid black;
  background: #66ff33;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-k .on {
  border: 2px solid black;
  background: #00ffcc;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-l .on {
  border: 2px solid black;
  background: #99ffeb;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-m .on {
  border: 2px solid black;
  background: #990099;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-n .on {
  border: 2px solid black;
  background: #ff00ff;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-o .on {
  border: 2px solid black;
  background: #ffb3d9;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-p .on {
  border: 2px solid black;
  background: #cc99ff;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-q .on {
  border: 2px solid black;
  background: #8000ff;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-r .on {
  border: 2px solid black;
  background: #ff6666;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-s .on {
  border: 2px solid black;
  background: #ffff99;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-t .on {
  border: 2px solid black;
  background: #ff4d4d;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-u .on {
  border: 2px solid black;
  background: #00aaff;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-v .on {
  border: 2px solid black;
  background: #ff9900;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-w .on {
  border: 2px solid black;
  background: #ffcc80;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-x .on {
  border: 2px solid black;
  background: #ffff00;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-y .on {
  border: 2px solid black;
  background: #ff66ff;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}

.letter-z .on {
  border: 2px solid black;
  background: #ccffff;
  top: 0;
  animation: letterdrop 2s ease-in forwards;
  z-index: 10;
  position: relative;
}


.stage {
  display: inline-block;
  margin-bottom: 100%;
}

.stage:after {
  content:"|";
  font-weight: 20;
  font-size: 250px;
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
  display: inline-block;
}

@keyframes "blink" {
  from, to {
    color: transparent;}
  50% { color: white;}
}

@-moz-keyframes blink {
  from, to {
    color: transparent;}
  50% { color: white;}
}

@-webkit-keyframes "blink" {
  from, to { color: transparent;} 
  50% { color: aqua;}
}

@-ms-keyframes "blink" {
  from, to {color: transparent;}
  50% {color: white;}
}

@-o-keyframes "blink" {
  from, to {mcolor: transparent;}
  50% { color: aqua;}
}



input{
  position: absolute;
  top:10px;
  right:10px;
  height:35px;
  width:100px;
  font-size:20px;
  font-family: monospace;
  color: black;
  background: #00ffff;
  border: 3px solid #00b3b3;
  cursor: pointer;

}































